/*acomodar posiciones de elementos*/
.content-tortilla{
    display: flex;
    justify-content:space-evenly;
}
.main-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*variables para colores*/
*{
    --background-color: #0a0a0a;
    --text-color: #fafafa;
}
/*colores de elementos*/
body{
    background-color: var(--background-color);
    color: var(--text-color);
}